<form class="form-horizontal" name="volunteerForm">
	<fieldset>
		<div class="container-fluid" >
			<div class="row grey-border-bottom">
				<h2>{{volunteer.subfirstname}} {{volunteer.sublastname}}</h2>
				<ul class="inline">
					<li>
					<strong>ID:</strong> {{volunteer.subnumber}}</li>
					<li>
					<strong>Created:</strong> {{volunteer.created_at | date}}</li>
					<li>
					<strong>Last Updated:</strong> {{volunteer.updated_at | date:'medium'}}</li>
				</ul>
				<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{ alert.msg }}</alert>
			</div>
			<div class="row-fluid">
				<div class="span6">
					<div class="form-box">
						<h6 class="sideheader">Contact</h6>
						<div class="control-group" style="clear:both;">
							<label ng-class="(volunteer.subfirstname==null) ? 'invalid' : ''" class="control-label">First Name</label>
							<div class="controls">
								<input type="text" class="input-xlarge" ng-uppercase-input2 ng-model="volunteer.subfirstname" required />
							</div>
						</div>
						<div class="control-group">
							<label ng-class="(volunteer.sublastname==null) ? 'invalid' : ''" class="control-label">Last name</label>
							<div class="controls">
								<input type="text" class="input-xlarge" ng-uppercase-input2 ng-model="volunteer.sublastname" required  />
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Home Phone</label>
							<div class="controls">
								<input type="text" class="input-xlarge" ng-model="volunteer.subhomephone">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Mobile Ph</label>
							<div class="controls">
								<input type="text" class="input-xlarge" ng-model="volunteer.submobile">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Email</label>
							<div class="controls">
								<input type="text" class="input-xlarge" ng-model="volunteer.subemail">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Sub Number</label>
							<div class="controls">
								<a href="/subscribers/{{volunteer.subnumber}}">{{volunteer.subnumber}}</a>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Sub Status</label>
							<div class="controls">
								<div class="alert alert-success" ng-show="subactive">Subscriber Active</div>
								<div class="alert alert-error" ng-hide="subactive">Subscriber Inactive</div>
							</div>
						</div>
					</div>
					<div class="form-box">
						<h6 class="sideheader">Current Volunteer Status</h6>
						<div style="padding-bottom:20px;clear:both;">
							<span style="padding-left: 20px;">
							<label style="display:inline-block">Completed Orientation</label>
							<input type="checkbox" ng-model="volunteer.volunteer.completed_orientation" ng-click="toggleOrientationDate();">
							</span>
							<span style="padding-left: 20px;">
							<label style="display:inline-block">Date Completed</label>
							<input type="text" class="span3" ng-model="volunteer.volunteer.completed_orientation_date" data-date-format="dd/mm/yyyy" bs-datepicker data-date-today-highlight="true" data-date-today-btn="linked" />
							</span>
						</div>
						<div class="control-group" style="clear:both;">
							<label class="control-label">Current Department</label>
							<div class="controls">
								<select ui-select2="departments" ng-model="vdArr" class="input-xlarge" multiple placeholder="Departments">
									<option ng-repeat="d in departments" value="{{d.id}}">{{d.department}}</option>
								</select>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Current Role</label>
							<div class="controls">
								<textarea ng-model="volunteer.volunteer.roles" class="input-xlarge"></textarea>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Skills</label>
							<div class="controls">
								<select ui-select2="skills" ng-model="skillsArr" class="input-xlarge" multiple placeholder="Skills">
									<option ng-repeat="s in skills" value="{{s.id}}">{{s.skill}}</option>
								</select>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Skills (Other)</label>
							<div class="controls">
								<textarea ng-model="volunteer.subskilldesc" class="input-xlarge"></textarea>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Available</label>
							<div class="controls">
							<select ng-model="volunteer.volunteer.volunteer_availability" class="input-small" ng-options="a for a in availability"></select>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Qualified As</label>
						<div class="controls">
							<select ui-select2="qualifications" ng-model="qArr" class="input-xlarge" multiple placeholder="Qualifications">
								<option ng-repeat="q in qualifications" value="{{q.id}}">{{q.qualification}}</option>
							</select>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Contribution</label>
						<div class="controls">
							<label class="checkbox inline">
								<input type="checkbox" ng-model="volunteer.volunteer.contribute_emergency"> Emergency
							</label>
							<label class="checkbox inline" ng-model="contribute_general">
								<input type="checkbox"> General Hours
							</label>
						</div>
					</div>
				</div>
			</div>
			<div class="span6">
				<div class="form-box">
					<h6 class="sideheader">Volunteer History</h6>
					<div class="control-group" style="clear:both">
						<label class="control-label">Projects worked on</label>
						<div class="controls">
							<textarea rows="5" ng-model="volunteer.volunteer.project_history" class="input-xlarge"></textarea>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Announcing History</label>
						<div class="controls">
							<textarea rows="5" ng-model="volunteer.volunteer.announcer_history" class="input-xlarge"></textarea>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Previous Roles</label>
						<div class="controls">
							<textarea rows="5" ng-model="volunteer.volunteer.roles_history" class="input-xlarge"></textarea>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Training</label>
						<div class="controls">
							<select ui-select2="skills" ng-model="trArr" class="input-xlarge" multiple placeholder="Training">
								<option ng-repeat="t in training" value="{{t.id}}">{{t.training}}</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<!-- end row  -->
		</div>
		<div class="row-fluid">
			<div class="inline pad-top">
				<div ng-show="notvalid">Please fill out all fields marked
					<span class="invalid">red.</span>
				</div>
				<button ng-click="saveVolunteer();" class="btn btn-primary">Update Volunteer</button>
				<button type="submit" ng-hide="submitType == '/subscribers/new/subscriber'" ng-click="deleteSubscriber();" data-access-level='accessLevels.admin' class="btn btn-danger">Delete</button>
			</div>
		</div>
	</fieldset>
</form>
<style type="text/css">
	.gridStyle {
			border: 1px solid #d4d4d4;
			width: 280px;
			height: 150px;
	}
	@media print {
			#searchbox, .navbar {
					display:none;
			}
	}
	.invalid {
			color:#EF002A;
			font-weight: bold;
	}
</style>